<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label></label>
        </dt>
        <dd>
            <input type="file" name="file">
            <span></span>
        </dd>
    </dl>
    <input asp-controller="Home" asp-action="UploadXml" class="btn" type="submit" value="Upload" />
</form>
